{% extends "public/templates/public_template.html" %}
{% block title %}Upload File {% endblock title %}

{% block main %}
<div class="container" >
    <div class="row" >
        <div class="col" >
            <h1>UPload</h1>
            <hr>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" class="custom-file-input" name="image" id="image">
                <label class="custom-file-label" for="image">Select image ...</label>

                <button type="submit" class="btn btn-primay">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}