{% extends "layout.html" %}

{% block content %}
    {% block page %} Home {% endblock page %}
    {% block heading %}
        {{ super() }}
    {% endblock heading %}
    <h3>This is the start of my child template</h3>
    <p>My String : {{ my_string }}</p>
    <p>Query dari Customer : {{query}}</p>
    <p>Same list with a filter : {{ my_list|join(',')}}</p>
    <p>Value from the list : {{ my_list[3] }}</p>
    <h4>Current date/time : {{ current_time | datetimefilter }}</h4>
    <p>Loop through the list :</p>
    <ul>
        {% for n in my_list : %}
            <li>{{n}}</li>
        {% endfor %}
    </ul>
    <h3>This is the end of my child template</h3>
    {% block footer %}
        {{ super() }}
    {% endblock footer%}
{% endblock content %}